<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<h2>Enjoy Zero To Hero</h2>

<form id="form1" name="zerotohero" action="zerotohero" method="POST">
<label for="firstname">First Name:</label>
<input type="text" id="firstname" name="firstname"/>
<label for="lastname">Username:</label>
<input type="text" id="lastname" name="lastname"/>

<input type="submit" id="submit" name="submit">Submit
</form>



<!--
<form id="form1" name="hello" action="hello">
    <label for="user">Username:</label>
    <input type="text" id="user" name="user"/>
</form>
-->
<script type="application/javascript" src="../js/util.js"></script>

</body>
</html>